<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<appSettings>
		<add key="WindowsDBPort" value="5433" />
		<add key="WindowsDBHost" value="localhost" />
		<add key="WindowsDBase" value="OilCtrl" />
		<add key="LinuxDBPort" value="5433" />
		<add key="LinuxDBHost" value="localhost" />
		<add key="LinuxDBase" value="OilCtrl" />
		<add key="WindowsPass" value="j06gOuqDHwWkvpWf" />
		<add key="LinuxPass" value="j06gOuqDHwWkvpWf" />
		<add key="WindowsLogin" value="postgres" />
		<add key="LinuxLogin" value="postgres" />
	</appSettings>
	
	
</configuration>
